.form {
  width: 430px;
  max-height: 330px;
  position: relative;
  margin: 195px auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 621px) {
  .form {
    width: 282px;
    max-height: 322px;
    margin: 123px auto;
  }
}
