.edit-form__button {
  min-height: 50px;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.edit-form__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 621px) {
  .edit-form__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
