.profile__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 780px) {
  .profile__info {
    margin: auto;
    flex-direction: column;
  }
}
