.card__like {
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  border: none;
  background-image: url("../../../images/Vector3.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like:active {
  fill: #000000;
}
